.build-script:
  stage: build
  script:
    - cmake --preset install
    - cmake --build --preset install
    - ctest --preset install
  artifacts:
    paths: 
      - build-install/install
    expire_in: 30 min

.test-script:
  stage: test
  script:
    - cmake -S test/export -B build -DINSTALL_DIR=$PWD/build-install/install
    - cmake --build build

build-gcc:
  image: registry.gitlab.com/joeblinx/tuc/gcc-cmake:1.0
  extends: 
    - .build-script

test-package-gcc:
  image: registry.gitlab.com/joeblinx/tuc/gcc-cmake:1.0
  extends: 
    - .test-script
  needs:
    - job: build-gcc
      artifacts: true

build-clang:
  image: registry.gitlab.com/joeblinx/tuc/clang-cmake:1.0
  extends: 
    - .build-script

test-package-clang:
  image: registry.gitlab.com/joeblinx/tuc/clang-cmake:1.0
  extends: 
    - .test-script
  needs:
    - job: build-clang
      artifacts: true

stages:
  - build
  - test
